body {
  font-family: 'PT Sans', sans-serif;
	font-color:#000b95;

	background: #fcd2b5; /* Old browsers */
	background: #fed57e; /* Old browsers */
	background: -moz-linear-gradient(top, #fed57e 0%, #fcd2b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed57e), color-stop(100%,#fcd2b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fed57e 0%,#fcd2b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fed57e 0%,#fcd2b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fed57e 0%,#fcd2b5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fed57e 0%,#fcd2b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed57e', endColorstr='#fcd2b5',GradientType=0 ); /* IE6-9 */

}

svg {
  font: 12px sans-serif;
  font-family: "Helvetica Neue", Helvetica;
  color:#000b95;
}

.line {
  fill: none;
  stroke: #000b95;
  stroke-width: 2px;
}

.aline,
.alinect,
.alinecc {
  fill: none;
  stroke-width: 2px;
}

.alineaxc,
.alineaxt,
.alinect,
.alinecc {
  stroke-opacity: 0.5;
}

.background path {
  fill: none;
  stroke: none;
  stroke-width: 20px;
  pointer-events: stroke;
  color:#000b95;
}

.foreground path {
  fill: none;
  stroke: #e81d5e;
  stroke-width: 1.5px;
}

.axis .title {
  font-size: 11px;
  font-weight: bold;
  color:#000b95;
  text-transform: uppercase;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000b95;
  color:#000b95;
  shape-rendering: crispEdges;
}

.axis.string {
  font-size: 6px;
  color:#000b95;
}

.label {
  -webkit-transition: fill 125ms linear;
  color:#000b95;
}

.active .label:not(.inactive) {
  font-weight: bold;
  font-size: 11px;
  fill: #e81d5e;
}

.label.inactive {
  /*fill: #e09e11;*/
  fill: #c98e0f;
}

.foreground path.inactive {
/*stroke: #e09e11; */
stroke: #c98e0f;


  /*stroke: #cfee35;*/
  stroke-opacity: .7;
  stroke-width: 1px;
}

path.cpath {
	fill: #faab02;
	stroke: #fa2f02;
	stroke-width: .5px;
}

path.cpath:hover {
	fill: #e81d5e;
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

.docrect {
  fill: rgb(31, 119, 180);
  fill-opacity:0.4;
}

.tocrect {
  fill: rgb(255, 127, 14);
  fill-opacity:0.4;
}

.agerect {
  fill: rgb(44, 160, 44);
  fill-opacity:0.4;
}

.chart text,
.charta text {
  fill: black;
  font: 11px sans-serif;
  text-anchor: start;
}

.clickable,
.clickabla,
.clickableLegend {
	stroke:#fff;
	fill:#fff;
	fill-opacity:0;
	stroke-opacity:0;
}

.legend {
	font-size: 12px;
}

.legend rect {
	stroke-width: 2;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

#snapRange {
  font: 10px sans-serif;
}